*{padding:0; margin:0; box-sizing: border-boxb;}

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 160, 250);
    font-family: 'Arvo', serif;
}

section{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba( 80, 227, 194, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    padding: 1rem 0;
}

header{
    border-bottom: 1px solid;
    padding-bottom: 0.3rem;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;

}

.card-footer{
    width: 80%;
    margin: auto;
    background-color: transparent;
}

#city{
    font-size: 28px;
}

#date{
    font-size: 17px;
}

.box-temp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#box-img > img{
    width: 100px;
}

.box-temp > div, .box-temp > span{
    font-size: 4.5rem;
}

#descricao{
    font-size: 26px;
}
#max-min {
    font-size: 22px;
    margin: 0.7rem;
}
