*{padding:0; margin:0; box-sizing: border-boxb;}

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fd9139;
    font-family: 'Arvo', serif;
    color:black;
}

.container{
    width: 357px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    background-color: white;
    box-shadow: black;
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 0 10px rgb(36, 36, 36);
}

header{
    border-bottom: 1px solid;
    padding-bottom: 0.3rem;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;

}

.card-footer{
    width: 80%;
    margin: auto;
    background-color: transparent;
}

#city{
    font-size: 28px;
}

#date{
    font-size: 17px;
}

.box-temp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
}

#box-img > img{
    width: 100px;
}

.box-temp > div, .box-temp > span{
    font-size: 4.5rem;
}

#descricao{
    font-size: 26px;
}
#max-min {
    font-size: 22px;
    margin: 0.7rem;
}

.input-group{
    width: 80%;
    margin: auto;
} 

i{
    color:white;
}

.btn{
    background-color: black;
    border-color: black;
}

.btn:hover{
    color:black;
    background-color: rgb(90, 86, 86);
    border-color: black;
}



@media screen and (max-width:444px){
    .container{
       width: 315px;
    }
}